{% extends "admin/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <span class="sr-only">Error:</span>
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h1>Configure vSphereVMs</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <form action="{{ request.script_root }}/admin/vspherevms/configure" method="POST">
                    <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                    <fieldset>
                        {% for key in settings %}
                            <label for="{{key}}">{{key}}</label>
                            <br />
                            <input type="{{settings[key][0]}}" name="{{key}}" value="{{settings[key][1]}}"/>
                            <br />
                        {% endfor %}
                    </fieldset>
                    <fieldset id="submit_btn">
                        <input type="submit" value="Submit" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
