{% extends "admin/base.html" %}

{% block content %}
    <div style="text-align:center">
        <br>
        <h1 class="text-center">Configure Challenge VMs</h1>
        <h2 class="text-center">Select your virtualization platform</h2>
        <div class="row">
            <form action="{{ request.script_root }}/admin/challengeVMs/configure" method="POST">
                <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                <fieldset>
                    <select id="virt_opt" name="virt_opt">
                        <option value="">Select virtualization platform...</option>
                        {% for virt_opt in virt_opts %}
                            <option value="{{ virt_opt }}">{{ virt_opt }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <fieldset id="form_virt_opt">

                </fieldset>
                <fieldset id="submit_btn">
                    <input type="submit" value="Submit" />
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        //hide submit button
        $("#submit_btn").css('display', 'none');

        //when virtualization option is selected
        $("#virt_opt").change(function() {
            //remove old form
            $("#form_virt_opt").empty();

            //hide submit button
            $("#submit_btn").css('display', 'none');

            if($(this).val() != "") {
                //prepare request
                $request = $.ajax({
                    method:"POST",
                    url:"{{ request.script_root }}/admin/challengeVMs/configure?r=" + new Date().getTime(),
                    data: {nonce: "{{ nonce }}", virt_opt: $(this).children(':selected').val()}
                });

                $request.done(function(message)
                {
                    var htmltoappend = '';
                    var obj = JSON.parse(message);

                    for(var i=0; i<obj.length; i++) {
                        //if value is even, parse as section header, else as config options
                        if(i % 2 === 0) {
                            //start appending html only when section is completed
                            if(i !== 0){
                                //finish and print previous section
                                htmltoappend += '</div>';
                                $("#form_virt_opt").append(htmltoappend);
                            }

                            //initiate new htmlappend for next section
                            htmltoappend = '<div><h3>'
                            + obj[i]
                            + '</h3>';
                        }
                        else {
                            for(var j = 0; j<obj[i].length; j++){
                                htmltoappend += '<label for="'
                                + obj[i-1]
                                + '.'
                                + obj[i][j][0]
                                + '">'
                                + obj[i][j][0]
                                + '</label><br /><input type="text" name="'
                                + obj[i-1]
                                + '.'
                                + obj[i][j][0]
                                + '" value="'
                                + obj[i][j][1]
                                +  '" /><br />';
                            }
                        }
                    }

                    //append the final section
                    htmltoappend += '</div>';
                    $("#form_virt_opt").append(htmltoappend);

                    //Display submit button
                    $("#submit_btn").css('display', 'block');
                });

                $request.fail(function()
                {
                    $('<div class=""> <strong>Error.</strong> Something went wrong.</div>').insertBefore($("footer")).fadeOut(2000, function()
                    {
                        $(this).remove();
                    });
                });
            }
        });
    });
</script>

{% endblock %}
