{% extends "admin/base.html" %}
{% block stylesheets %}
<style>
     .circle{
          height: 10px;
          width: 10px;
          border-radius: 50%;
          margin-top: 4px;
     }

     .green {
           background: green;
     }

     .red {
           background: red;
     }

     .orange {
           background: orange;
     }

     .gray {
           background: gray;
     }

     .vm-operations{
        margin: auto;
     }

    .vm-control{
        float: left;
        width: 33%;
    }
</style>
{% endblock %}
{% block content %}
    <div id="errordiv" class="text-center">
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
              <span class="sr-only">Error:</span>
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1>vSphere VMs</h1>
        <div class="row" id="vm-list">
            {% for vm in virtual_machines %}
                <div class="btn btn-theme btn-outlined" id="{{ vm["UUID"] }}">
                    <ul class="list-unstyled">
                        <li class="Name">{{ vm["Name"] }}</li>
                        <li class="Ipaddress">{{ vm["Ipaddress"] }}</li>
                        <li class="State"><span class="circle
                            {% if vm["State"] == "poweredOn" %}
                                green
                            {% elif vm["State"] == "poweredOff" %}
                                red
                            {% elif vm["State"] == "suspended" %}
                                orange
                            {% else %}
                                gray
                            {% endif %}
                        "></span>  {{ vm["State"] }}</li>
                    </ul>
                    <div class="vm-operations row">
                        {% if vm["State"] == "poweredOff" %}
                            <form class="vm-control" action="{{ request.script_root }}/admin/vspherevms/manage/vm/{{ vm["UUID"] }}/poweron" method="POST">
                                <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                                <button class="play" title="Start the VM"><i class="fa fa-play"></i></button>
                            </form>

                        {% elif vm["State"] == "poweredOn" %}
                            <form class="vm-control" action="{{ request.script_root }}/admin/vspherevms/manage/vm/{{ vm["UUID"] }}/suspend" method="POST">
                                <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                                <button class="suspend" title="Suspend the VM"><i class="fa fa-pause"></i></button>
                            </form>
                            {% if vm["Vmwaretools"] == "guestToolsRunning" %}
                                <form class="vm-control" action="{{ request.script_root }}/admin/vspherevms/manage/vm/{{ vm["UUID"] }}/shutdown" method="POST">
                                    <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                                    <button class="shutdown" title="Shut down the VM"><i class="fa fa-stop"></i></button>
                                </form>
                                <form class="vm-control" action="{{ request.script_root }}/admin/vspherevms/manage/vm/{{ vm["UUID"] }}/reboot" method="POST">
                                    <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                                    <button class="restart" title="Restart the VM"><i class="fa fa-refresh"></i></button>
                                </form>
                            {% endif %}
                        {% elif vm["State"] == "suspended" %}
                            <form class="vm-control" action="{{ request.script_root }}/admin/vspherevms/manage/vm/{{ vm["UUID"] }}/resume" method="POST">
                                <input id="nonce" value="{{ nonce }}" name="nonce" type="hidden" />
                                <button class="play" title="Resume the VM"><i class="fa fa-play"></i></button>
                            </form>
                        {% else %}
                            <p>No actions possible</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
     <div class="row">
          <h1>Actions</h1>
          <a class="btn btn-theme btn-outlined" href="{{ request.script_root }}/admin/vspherevms/configure">Change settings<br />+</a>
     </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        var vms = [{% for vm in virtual_machines %}
                {{ '{' }}
                    "Name" : "{{ vm["Name"] }}",
                    "UUID" : "{{ vm["UUID"] }}",
                    "State" : "{{ vm["State"] }}",
                    "Ipaddress" : "{{ vm["Ipaddress"] }}",
                    "Vmwaretools" : "{{ vm["Vmwaretools"] }}"
                {{ '}' }}{{ "," if not loop.last }}{% endfor %}
        ];

        //If you want to add content dynamically and still need it to work, and also with more than one form, you can do this:
        $(document).ready(function() {
            $('form').submit(function () {
                // Stop form from submitting normally
                event.preventDefault();

                //url, data, success, datatype
                $.post($(this).attr('action'), $(this).serialize(), function (response) {
                    var html = '';

                    // if response is empty, print ok, else print error
                    if (response === "Success!") {
                        html = '<div class="alert alert-success alert-dismissable" role="alert">\n' +
                            '<span class="sr-only">Success:</span>\n' +
                            'The operation has been successfully completed.' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">×</span></button>\n' +
                            '</div>';
                    }
                    else{
                        html = '<div class="alert alert-danger alert-dismissable" role="alert">\n' +
                            '<span class="sr-only">Error:</span>\n' +
                            response +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">×</span></button>\n' +
                            '</div>';
                    }

                    $("#errordiv").append(html);

                    refresh_vms();
                }).fail(function() {
                    var html = '<div class="alert alert-danger alert-dismissable" role="alert">\n' +
                            '<span class="sr-only">Error:</span>\n' +
                            'The request could not be completed.' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">×</span></button>\n' +
                            '</div>';


                    $("#errordiv").append(html);
                });

                return false;
            });

            //refresh VMs every x milliseconds
            setInterval (refresh_vms(), 60000 );
        });

        function refresh_vms(){
            $request = $.ajax({
                method:"POST",
                url: script_root + "/admin/vspherevms/manage/update?r=" + new Date().getTime(),
                data: {nonce: "{{ nonce }}"}
            });

            $request.done(function(message){
                var new_vm_array = JSON.parse(message);

                //check if uuid already present in array
                for(var i = 0; i < new_vm_array.length; i++) {
                    var vm_already_present = false;

                    for(var j = 0; j < vms.length; j++) {
                        if(new_vm_array[i]["UUID"] === vms[j]["UUID"]){
                            if(new_vm_array[i]["State"] !== vms[j]["State"] || new_vm_array[i]["Ipaddress"] !== vms[j]["Ipaddress"]){
                                vms[j] = new_vm_array[i];
                                update_existing_vm(new_vm_array[i]);
                            }

                            vm_already_present = true;
                        }
                    }

                    if(vm_already_present === false){
                        vms.push(new_vm_array[i]);
                        add_new_vm(new_vm_array[i]);
                    }
                }
            });
        }

        function update_existing_vm(vm){
            var selector = "#" + vm["UUID"];
            $(selector).empty();
            fill_box(vm);
        }

        function add_new_vm(vm){
            // add vm to list and print new box
            // create new box
            $("#vm-list").append("<div class=\"btn btn-theme btn-outlined\" id=\"" + vm["UUID"] + "\">");
            fill_box(vm);
        }

        function fill_box(vm) {
            var nonce = "{{ nonce }}";

            var selector = "#" + vm["UUID"];
            var html = '<ul class="list-unstyled">\n' +
                '   <li class="Name">' +
                vm["Name"] +
                '</ul>\n' +
                '   <li class="Ipaddress">' +
                vm["Ipaddress"] +
                '</ul>\n' +
                '   <li class="State"><span class="circle ';

            if (vm["State"] === "poweredOn") {
                html += "green";
            }
            else if (vm["State"] === "poweredOff") {
                html += "red";
            }
            else if (vm["State"] === "suspended") {
                html += "orange";
            }
            else {
                html += "gray";
            }

            html += '"></span>  ' +
                vm["State"] +
                '</li>\n' +
                '</ul>\n' +
                '<div class="vm-operations">';

            if (vm["State"] === "poweredOff") {
                html += '<form class="vm-control" action="' +
                    script_root +
                    '/admin/vspherevms/manage/vm/' +
                    vm["UUID"] +
                    '/poweron" method="POST">\n' +
                    '<input id="nonce" value="' +
                    nonce +
                    '" name="nonce" type="hidden" />\n' +
                    '<button class="play" title="Start the VM"><i class="fa fa-play"></i></button>\n' +
                    '</form>';
            }
            else if (vm["State"] === "poweredOn") {
                html += '<form class="vm-control" action="' +
                    script_root +
                    '/admin/vspherevms/manage/vm/' +
                    vm["UUID"] +
                    '/suspend" method="POST">\n' +
                    '<input id="nonce" value="' +
                    nonce +
                    '" name="nonce" type="hidden" />\n' +
                    '<button class="suspend" title="Suspend the VM"><i class="fa fa-pause"></i></button>\n' +
                    '</form>';

                if (vm["Vmwaretools"] === "guestToolsRunning") {
                    html = '<form class="vm-control" action="' +
                        script_root +
                        '/admin/vspherevms/manage/vm/' +
                        vm["UUID"] +
                        '/shutdown" method="POST">\n' +
                        '<input id="nonce" value="' +
                        nonce +
                        '" name="nonce" type="hidden" />\n' +
                        '<button class="shutdown" title="Shut down the VM"><i class="fa fa-stop"></i></button>\n' +
                        '</form>\n' +
                        '<form class="vm-control" action="' +
                        script_root +
                        '/admin/vspherevms/manage/vm/' +
                        vm["UUID"] +
                        '/restart" method="POST">\n' +
                        '<input id="nonce" value="' +
                        nonce +
                        '" name="nonce" type="hidden" />\n' +
                        '<button class="restart" title="Restart the VM"><i class="fa fa-refresh"></i></button>\n' +
                        '</form>';
                }
            }
            else if (vm["State"] === "suspended") {
                html += '<form class="vm-control" action="' +
                    script_root +
                    '/admin/vspherevms/manage/vm/' +
                    vm["UUID"] +
                    '/resume" method="POST">\n' +
                    '<input id="nonce" value="' +
                    nonce +
                    '" name="nonce" type="hidden" />\n' +
                    '<button class="play" title="Resume the VM"><i class="fa fa-play"></i></button>\n' +
                    '</form>';
            }
            else {
                html += '<p>No actions possible</p>';
            }

            html += '</div>';

            $(selector).append(html);
        }

        //NEWLY CREATED BUTTONS ALSO NEED TO BE CLICKABLE
    </script>
{% endblock %}


    